p {
  color: #1F2A37;
  text-align: justify;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.7rem;
  margin: 3% 8% 0% 8%;
}

.newStoryPage {
  width: 100%;
  overflow: scroll;
}

.backButton {
  position: absolute;
  top: 3%;
  left: 4%;
  z-index: 10;
}

.backButton img {
  border-radius: 1.25rem;
}

.imgCover img {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  max-width: 70%;
  border-radius: 1.25rem;
}

.newStoryPage .textboxTitle {
  max-width: fit-content;
  padding: 1%;
  margin: 0% auto auto auto;
}

.inputField {
  display: flex;
  padding: 1.5rem 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.inputField textarea {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100% - 10px);
  height: 180px;
  padding: 5px;
  border: none;
  outline: none;
  color: #1F2A37;
  text-align: justify;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.theEndContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.theEndContainer .textboxTitle {
  position: relative;
  width: calc(100% - 20px);
}
.theEndContainer h3 {
  width: 100%;
}
