.SavedStory {
  display: flex;
  justify-content: center;
}

.SavedStory .button {
  display: flex;
  width: 3.125rem;
  height: 3.125rem;
  padding: 0.8125rem 1.75rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
  border: 1px solid #4D7C0F;
  background: #4D7C0F;
}

.CreatedOnText p {
  font-style: italic;
}

.TitleStory h1{
  color: #111928;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}