.imgCover {
  position: relative;
}

.savedStory .heartIcon {
  position: absolute;
  left: 74%;
  top: 86%
}

.createdOnText p {
  font-style: italic;
  text-align: center;
}

.titleStory h1{
  color: #111928;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  padding-top: 40px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
}

.customHeart {
  fill: #c9c7c7 !important;
  transition: fill 0.1s;
}

.active.customHeart {
  fill: rgb(205, 3, 3) !important;
  transition: fill 0.1s;
}

