* {
  margin: 0px;
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.containerWithFooter h1 {
  color: #111928;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.875rem;
  padding-top: 50px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: left;
}

body {
  margin: 0px;
  width: 100vw;
  height: 100vh;
  background: #f4f2f2;
  display: flex;
}

.list_scroll {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5%;
  padding-bottom: 2%;
  overflow-y: hidden;
}

.list_scroll .container {
  margin: inherit;
  padding: 5px;
  min-width: calc(100vw - 30px);
}

.containerWithFooter {
  padding-bottom: 60px;
  display: flex;
  flex-direction: column;
}

.footer {
  display: flex;
  padding: 1.5rem 4.5rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  gap: 20%;
  background: #06B6D4;
  box-shadow: 15px -19px 22px 0px rgba(24, 111, 242, 0.05);
}

/* HOME PAGE & MY STORIES PAGE CSS */

h2 {
  color: #1F2A37;
  font-size: 1.125rem;
  font-weight: 600;
  line-height: 1.625rem;
  margin-top: 10px;
  margin-left: 10%;
}

h3 {
  color: #ffffff;
  text-align: center;
  font-size: 1rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5rem;
}

.storiesScroll {
  width: 100%;
}

.containerStory {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px 10% auto 10%;
  width: 80%;
  position: relative;
}

.containerStory img {
  width: 100%;
  height: 100%;
  border-radius: 1.25rem;
}

.textboxTitle {
  display: flex;
  padding: 0.2rem 0.2rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  border-radius: 3.125rem;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: calc(100% - 20px);
  border: 1px solid #D97706;
  background: #D97706;
}
.textboxTitle h3 {
  font-weight: 700;
  letter-spacing: 1.2px;
}

.textboxGenre {
  display: flex;
  padding: 0.2rem 1rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
  flex-shrink: 0;
  border-radius: 3.125rem;
  position: absolute;
  top: 10px;
  left: 10px;
  border: 1px solid #1E293B;
  background: #1E293B;
}

.textboxGenre h3 {
  font-weight: 700;
  letter-spacing: 1.2px;
}