.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h6{
  color: var(--dark-dark, #111928);
  font-family: Inter;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem; /* 125% */
}