* {
  margin: 0;
  box-sizing: border-box;
}

* {
  font-family: 'Open Sans', sans-serif;
}

.list_scroll {
  display: flex;
  flex-wrap: nowrap;
  padding-left: 5%;
  padding-bottom: 2%;
  overflow-y: hidden;
}

.list_scroll .container {
  margin: inherit;
  padding: 5px;
  min-width: calc(100% - 30px);
}

.footer {
  display: flex;
  padding: 1.5rem 4.5rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  gap: 20%;
  border-radius: 2rem;
  background: #2EC4B6;
  box-shadow: 15px -19px 22px 0px rgba(24, 111, 242, 0.05);
}