.footer {
  display: flex;
  padding: 1.5rem 4.5rem;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  gap: 20%;
  background: #06B6D4;
  box-shadow: 15px -19px 22px 0px rgba(24, 111, 242, 0.05);
}