h1 {
  color: var(--dark-dark, #111928);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.875rem;
  margin-top: 50px;
  margin-left: 10%;
}

h2 {
  color: #1F2A37;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 600;
  line-height: 1.625rem;
  margin-top: 10px;
  margin-left: 10%;
}

.storiesScroll {
  width: 100%;
  height: calc(100vh - 70px - 130px);
  overflow: scroll;
}